.calculator-button {
    background: #BECEED;
    border: 2px inset #37496E;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #37496E;

    transition: background-color 0.3s ease;
}

.calculator-button:hover {
    background-color:#78A0F0;
}

.calculator-button:active {
    background-color: #6887c5;
}